.footer {
  background: var(--color-alt);
  color: var(--color-base-text);
  border-top: 1px solid var(--color-alt-offset);
  padding-top: $strip-padding;
  padding-bottom: $strip-padding;
  .footer-title {
    font-family: var(--font-heading);
    margin: 0;
  }
  h3 {
    font-weight: bold;
    font-size: 17px;
  }
  ul {
    font-size: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        display: block;
        text-decoration: none;
        color: var(--color-primary);
        padding: 3px 0 3px 0;
        &:hover {
          text-decoration: underline;
        }
      }
      &.copyright {
        font-weight: bold;
      }
    }
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  color: var(--color-primary);
  a {
    color: inherit;
    padding: 8px;
    display: block;
    &:hover {
      opacity: 0.8;
    }
    &:first-of-type {
      padding-left: 0;
    }
  }
}

.copyright {
  font-size: 14px;
  font-weight: bold;
}