@import 'logo';
@import 'main-menu';
@import 'main-menu-mobile';
@import 'dark-mode';
@import 'language-switcher';

.header {
  font-family: var(--font-heading);
  background-color: var(--color-base);
  color: var(--color-primary);
  padding: 0;
  transition: all 200ms linear;
  .container {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: $header-height;
    @include media-breakpoint-up(md) {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }
  }
  a {
    color: var(--color-primary);
  }
}

.header-transparent {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: transparent;
  box-shadow: none;
  color: white;
  a {
    color: white;
  }
  .dark-mode {
    color: white;
  }
  .logos {
    .logo {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-mobile {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-invert {
      display: none;
      @include media-breakpoint-up(sm) {
        display: block;
      }
    }
    .logo-invert-mobile {
      display: block;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }
}

.header-scrolled {
  background-color: var(--color-base);
  transition: all 500ms ease-in;
  box-shadow: 0 1px 6px 0 rgba(36, 50, 66, 0.15);
  color: var(--color-primary);
  a {
    color: var(--color-primary);
  }
  .dark-mode {
    color: var(--color-primary-offset);
  }
  .logos {
    .logo {
      display: none;
      @include media-breakpoint-up(sm) {
        display: block;
      }
    }
    .logo-mobile {
      display: block;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-invert {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    .logo-invert-mobile {
      display: none;
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }
}

.header-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}