{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ if .Params.header_transparent }}header-transparent{{ end }}{{ end }}

{{ define "main" }}

    {{ if .Params.hero }}
        {{ partial "components/hero.html" (dict "title" .Title "description" .Params.description "background" .Params.hero.background "blend_mode" .Params.hero.blend_mode "theme" .Params.hero.theme)}}
    {{ else }}
        <div class="strip pt-12 pb-0">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-12">
                        <h1>{{ .Title }}</h1>
                    </div>
                    {{ if .Params.image }}
                        <div class="col col-lg-12" >
                            <img class="img-fluid" src={{ .Params.image | relURL }} />
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}

    {{ $pages := .Pages }}
    {{ $pagesCount := len $pages }}
    {{ $summaryType := .Params.summary_type }}
    {{ if gt ($pagesCount) 0 }}
        <div class="strip">
            <div class="container ">
                <div class="row">
                    {{ range .Pages.ByWeight }}
                        <div class="col-12 col-md-8 mb-3">
                            {{ if $summaryType }}
                                {{ .Render $summaryType }}
                            {{ else }}
                                {{ .Render "summary-row" }}
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}

    {{ if .Content }}
        <div class="strip strip-border-top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="content">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}

    
{{ end }}