<div class="footer">
    <div class="container">

        <div class="row">
            {{ if .Site.Params.footer.enable_menu_footer_primary }}
                <div class="col-12 col-md-3">
                    {{ if .Site.Params.footer.footer_primary_menu_title }}
                        <h3>{{ .Site.Params.footer.footer_primary_menu_title }}</h3>
                    {{ end }}
                    {{ partial "menu/menu-footer-primary.html" . }}
                </div>
            {{ end }}
            {{ if .Site.Params.footer.enable_menu_footer_secondary }}
                <div class="col-12 col-md-3">
                    {{ if .Site.Params.footer.footer_secondary_menu_title }}
                        <h3>{{ .Site.Params.footer.footer_secondary_menu_title }}</h3>
                    {{ end }}
                    {{ partial "menu/menu-footer-secondary.html" . }}
                </div>
            {{ end }}
            {{ if .Site.Params.footer.enable_menu_footer_tertiary }}
                <div class="col-12 col-md-3">
                    {{ if .Site.Params.footer.footer_tertiary_menu_title }}
                        <h3>{{ .Site.Params.footer.footer_tertiary_menu_title }}</h3>
                    {{ end }}
                    {{ partial "menu/menu-footer-tertiary.html" . }}
                </div>
            {{ end }}
            {{ if .Site.Params.footer.show_languages }}
                <div class="col-12 col-md-3">
                    <h3>Language</h3>
                    {{ if .IsTranslated }}
                        <ul class="nav-list">
                            {{ range .Translations }}
                            <li>
                                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                            </li>
                            {{ end}}
                        </ul>
                    {{ end }}
                </div>
            {{ end }}
        </div>
        {{ if .Site.Params.footer.show_social_media_links }}
            {{ if .Site.Data.social }}
                <div class="row">
                    <div class="col-12 pt-3">
                        {{ partial "footer/social" . }}
                    </div>
                </div>
            {{ end }}
        {{ end }}
        {{ if .Site.Params.footer.show_copyright }}
            <div class="row">
                <div class="col-12 pt-3">
                    <div class="copyright">© 2021 {{ .Site.Title }}. {{ i18n "all_rights_reserved" }}.</div>
                </div>
            </div>
        {{ end }}
    </div>
</div>