{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single{{ end }}
{{ define "header_classes" }}{{ if .Params.header_transparent }}header-transparent{{ end }}{{ end }}

{{ define "main" }}

    {{ if .Params.hero }}
        {{ partial "components/hero.html" (dict "title" .Title "description" .Params.description "background" .Params.hero.background "blend_mode" .Params.hero.blend_mode "theme" .Params.hero.theme)}}
    {{ else }}
        <div class="strip theme-base">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <h1>{{ .Title }}</h1>
                        <h2>{{ .Params.description }}</h2>
                    </div>
                    {{ if .Params.image }}
                        <div class="col-12 col-lg-12" style="max-height: 400px; overflow: hidden;">
                            <img class="img-fluid" src={{ .Params.image | relURL }} />
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ end }}

    <div class="strip">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-12 col-md-8 col-lg-7">
                    <div class="content">{{.Content}}</div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 offset-lg-1">
                    {{ if .Params.work }}
                    <div class="sidebar-work">
                        <div class="sidebar-work-icon">
                            {{ partial "taxonomy/portfolio-icons" . }}
                        </div>
                        {{ with .Params.work }}
                            {{ if .heading}}
                                <div class="sidebar-work-heading">
                                    <h3>{{ if .heading_label }}<strong>{{ .heading_label }}: </strong>{{ end }}{{ .heading }}</h3>
                                </div>
                            {{ end }}
                            <div class="sidebar-work-brief">
                                <strong>Brief: </strong>{{ .brief }}
                            </div>
                            {{ if .link }}
                                <div class="sidebar-work-link">
                                    <strong>Source: </strong><a href="{{ .link }}">{{ if .link_title }}{{ .link_title }}{{ else }}{{ .link }}{{ end }}</a>
                                </div>
                            {{ end }}
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    
{{ end }}