{{ if .Site.IsMultiLingual }}
    <div class="language-switcher">
        {{ range .Site.Languages }}
            {{ if eq . $.Site.Language }}
                <div class="language-switcher-button">
                    {{ .LanguageName }}
                </div>
            {{ end }}
        {{ end }}

        <div class="language-switcher-dropdown">
            <div class="language-switcher-translations">
                <ul>
                    {{ range $.Translations }}
                        <li><a href="{{ .Permalink }}" class="">{{ .Language.LanguageName }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>

    </div>
{{ end }}
