<div class="logos">
    <div class="logo">
        <a href="{{ .Site.BaseURL | relLangURL }}">
            <img height="22px" alt="{{ .Site.Title }} Logo" src="{{ .Site.Params.logo.logo | relURL }}"/>
        </a>
    </div>
    <div class="logo-invert">
        <a href="{{ .Site.BaseURL | relLangURL }}">
            <img height="22px" alt="{{ .Site.Title }} Logo" src="{{ .Site.Params.logo.logo_invert | relURL }}"/>
        </a>
    </div>
    <div class="logo-mobile">
        <a href="{{ .Site.BaseURL | relLangURL }}">
            <img height="30px" alt="{{ .Site.Title }} Logo" src="{{ .Site.Params.logo.logo_mobile | relURL }}"/>
        </a>
    </div>
    <div class="logo-invert-mobile">
        <a href="{{ .Site.BaseURL | relLangURL }}">
            <img height="30px" alt="{{ .Site.Title }} Logo" src="{{ .Site.Params.logo.logo_invert_mobile | relURL }}"/>
        </a>
    </div>
</div>