// Theme

:root {
{{ range $key, $value := .Site.Params.colors.light }}
  --color-{{ replace $key "_" "-" }}: {{ $value }};
{{ end }}
  --font-base: {{ .Site.Params.fonts.base }}, sans-serif;
  --font-heading: {{ .Site.Params.fonts.heading }}, sans-serif;
  --font-monospace: {{ .Site.Params.fonts.monospace }}, monospace;
}

html[data-mode='dark'] {
{{ range $key, $value := .Site.Params.colors.dark }}
  --color-{{ replace $key "_" "-" }}: {{ $value }};
{{ end }}
}

{{ range $key, $value := .Site.Params.colors.light }}
  .theme-{{ replace $key "_" "-" }} {
    background: var(--color-{{ replace $key "_" "-" }});
    color: var(--color-{{ replace $key "_" "-" }}-text);
    p {
      color: var(--color-{{ replace $key "_" "-" }}-text-offset);
    }
  }
{{ end }}
